@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #101828;
  background: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply text-[#101828] autofill:shadow-[inset_0_0_0px_1000px_#eff6ff];
}

.button-default {
  @apply text-white bg-[#6100FF] hover:bg-[#5700e3] active:bg-[#4600b6] active:scale-95 duration-200;
}

.link {
  @apply text-[#3461FD] hover:text-[#073dff] hover:underline duration-200 text-sm;
}