@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #101828;
  background: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply text-[#101828] autofill:shadow-[inset_0_0_0px_1000px_#eff6ff];
}

.button-default {
  @apply text-white bg-[#6100FF] hover:bg-[#5700e3] active:bg-[#4600b6] active:scale-95 duration-200;
}

.link {
  @apply text-[#3461FD] hover:text-[#073dff] hover:underline duration-200 text-sm;
}

.card-theme {
  @apply bg-white border-2 border-slate-400 p-4 rounded-xl;
}

.card {
    position: relative;
    transition: transform 0.2s;
    cursor: default;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at var(--x) var(--y), rgba(7, 61, 255, 0.1), transparent);
    pointer-events: none;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 0;
}

.card:hover::after {
    opacity: 1;
}

.card > * {
    position: relative;
    z-index: 1;
}


.button-info-plus {
  @apply duration-200 cursor-pointer;
}

.button-info-plus:hover {
  @apply !bg-[#e5ebff] scale-[1.02] shadow-md;
}

.button-info-plus:active{
  @apply !bg-[#d5dfff] scale-[1] shadow-none duration-100;

}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:vertical {
  @apply bg-neutral-500;
}

.scrollbar-hide::-webkit-scrollbar {
  @apply h-1.5 w-1.5 rounded-xl bg-transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb:vertical {
  @apply h-[1px] w-[1px] rounded-xl bg-transparent;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:horizontal {
  @apply bg-neutral-500;
}

.scrollbar-hide::-webkit-scrollbar-thumb:horizontal {
  @apply h-[1px] w-[1px] rounded-xl bg-transparent;
}

.icon-footer {
  @apply rounded-full cursor-pointer hover:scale-110 bg-zinc-800 shadow-md flex w-[50px] h-[50px] text-white hover:bg-zinc-700 duration-200 items-center justify-center active:scale-100;
}

.button-error {
  @apply bg-red-500 text-white hover:bg-red-600 duration-200;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite !important;
}

.button-black-white {
  @apply bg-white text-black hover:bg-slate-200 duration-200 border-2 border-slate-400;
}

.tooltip-theme {
  @apply bg-slate-300 border-solid border-[1px] border-slate-400;
}

.progress-point-active {
  @apply cursor-pointer bg-[#24045f] [&>button>svg]:text-green-700;
}

.progress-point-disable {
  @apply cursor-not-allowed bg-zinc-300 ;
}

.progress-line {
  @apply bg-[#ededee] [&>div]:bg-[#24045f];
}

.table-theme {
  @apply border-2 border-neutral-500 bg-neutral-200 ;
}

.table-text-theme {
  @apply truncate text-zinc-800;
}

.table-theme-without-border {
  @apply bg-neutral-100 font-semibold;
}

.table-hover {
  @apply hover:bg-zinc-300;
}


.table-row {
  @apply  cursor-pointer border-b-[1px] border-slate-300 last:border-none hover:duration-200 hover:bg-slate-200;
}

.scrollbar-show-fixed {
  -ms-overflow-style: none;
}

.scrollbar-show-fixed::-webkit-scrollbar {
  @apply w-1.5 h-1.5 bg-transparent rounded-xl;
}

.scrollbar-show-fixed::-webkit-scrollbar-thumb:vertical {
  @apply bg-zinc-400 h-[1px] w-[1px] rounded-xl
}

.scrollbar-show-fixed::-webkit-scrollbar-thumb:horizontal {
  @apply bg-zinc-400 h-[1px] w-[1px] rounded-xl;
}
